@model IEnumerable<Team1CentricAplication.Models.Values>
@{
    var top = ViewBag.award;

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AwardNominator.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardNominee.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardRecipient.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nominatedValues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in top)
    {
        <tr>
            <td>
                @item.AwardNominator.firstName
            </td>
            <td>
                @item.AwardNominee.firstName
            </td>
            <td>
                @item.AwardRecipient.firstName
            </td>
            <td>
                @item.nominatedValues
            </td>
            <td>
                @item.recognitionNote
            </td>
            <td>
                @item.recognizationDate
            </td>
        </tr>
    }

</table>
