@model Team1CentricAplication.Models.Profiles
@*model Team1CentricAplication.Models.Values*@


@{
    ViewBag.Title = "Profile Details";
}

<h2>@Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)'s Profile</h2>

<div>

    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>*@
        
            <div class="jumbotron">

                <dt>
                    @Html.DisplayNameFor(model => model.profilePicture)
                </dt>

                <dd>
                        <img src="@Url.Content("~/Images/")@Model.profilePicture" height="100" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.city)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.city)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.zip)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.zip)
                </dd>
            </div>
        
    </dl>
</div>
        <tr>
            <td>
                @*Html.DisplayFor(model => model.nominatedValues)*@
            </td>
        </tr>
    

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.profilesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
