@*@model IEnumerable<Team1CentricAplication.Models.Profiles>*@
@model PagedList.IPagedList<Team1CentricAplication.Models.Profiles>
@using PagedList.Mvc;
@{
    ViewBag.Title = "List of Profiles";
}

<h2>List of Profiles</h2>
<p>
    @Html.ActionLink("Create A New Profile", "Create")
</p>
<table class="table table-striped table-condensed">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            City
        </th>
        <th>
            Zip
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.profilesID }) |
                @Html.ActionLink("Details", "Details", new { id = item.profilesID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.profilesID })
            </td>
        </tr>
    }

</table>
<br />
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))*@
