@model Team1CentricAplication.Models.Values

@{
    ViewBag.Title = "Values Details";
}

<h2>Details of Values Recognized</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AwardNominee.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardNominee.fullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nominatedValues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nominatedValues)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AwardNominator.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardNominator.fullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.recognitionNote)
        </dt>

        <dt>
            @*@Html.DisplayFor(modelItem => item.recognitionNote)*@
            @{
                var result = item.recognitionNote;
            }
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(result))
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizationDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.valuesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
