@model IEnumerable<Team1CentricAplication.Models.Values>

@using Microsoft.AspNet.Identity;
@using Team1CentricAplication.Models;
@using Team1CentricAplication.DAL;


@{
    ViewBag.Title = "List of Values";
}

<h2>List of Values Recognized</h2>

<p>
    @Html.ActionLink("Create New Value Recognition", "Create")
</p>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AwardNominee.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nominatedValues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardNominator.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AwardNominee.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nominatedValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardNominator.fullName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.recognitionNote)*@
                @{
                    var result = item.recognitionNote;
                }
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(result))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recognizationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.valuesId })
                @Html.ActionLink("Details", "Details", new { id = item.valuesId })
                @{
                    Team1Context db = new Team1Context();
                    Guid profilesId;
                    Guid.TryParse(User.Identity.GetUserId(), out profilesId);
                    Profiles loggedInUser = db.Profiles.Find(profilesId);
                    if (loggedInUser != null)
                    {
                        bool isAdmin = loggedInUser.role == Profiles.roles.admin;
                        if (isAdmin)
                        {
                            <a href="~/values/delete/@item.profilesID"> | Delete</a>
                        }
                    }
                }
            </td>
        </tr>


    }

</table>
