@model Team1CentricAplication.Models.IndexViewModel
@using Microsoft.AspNet.Identity;
@using Team1CentricAplication.Models;
@using Team1CentricAplication.DAL;
@{
    ViewBag.Title = "My Account Settings";
}



<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron" style="background-color: antiquewhite">
    <h1 class="text-center text-capitalize"> Account Settings </h1>
    <p class="lead text-center"> @(User.Identity.GetUserName()) </p>
</div>


<div class="row">

    <dl class="col-md-8">

        <dt>Edit: </dt>
        <dd>
            @{

                Team1Context db = new Team1Context();
                Guid profilesId;
                Guid.TryParse(User.Identity.GetUserId(), out profilesId);
                Profiles loggedInUser = db.Profiles.Find(profilesId);
                if (loggedInUser != null)

                {
                    bool isAdmin = loggedInUser.role == Profiles.roles.admin;
                    bool isEmployee = loggedInUser.role == Profiles.roles.employee;
                    if (isAdmin || isEmployee)
                    {
                        <a href="~/profiles/edit/@User.Identity.GetUserId()"> Edit</a>
                    }

                }


            }
        </dd>

    </dl>
    <br />
    <dl class="col-md-8">
        <dt>Update/Change Password: </dt>
        <dd>
            @if (Model.HasPassword)
            {
                <div class="form-actions no-color">
                    @Html.ActionLink("Change your password", "ChangePassword")
                    @*@Html.ActionLink("Change your password", "ChangePassword")*@
                </div>


            }

            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>


        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
    </dl>
    <br />
    <dl class="col-md-8">
        <dt>Two-Factor Authentication:</dt>

        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-default" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber") ]</text>
            }
        </dd>


        <dd>

            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-danger" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-default" />
                    </text>
                }
            }
        </dd>
    </dl>
    <br />
</div>
